@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Poppins" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.8 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #fe53bb !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;


//mobile first aqui (320px) ate os 600px------------------------------------------------------------------
.site-header {
  font-weight: 600;
}

/*
.page-link:nth-child(2) {
  background: #41fa70;
}

.page-link:nth-child(3) {
  background: #f9ed6a;
}*/



.introuis {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
}

.imgindex {
  width: 100vw;
}

.introducao h2 {
  font-size: 35px;
  font-weight: 800;
  margin-top: 40px;
  line-height: $base-line-height;
}
.experience h3{
  font-size: 25px;
  font-weight: 800;
  margin-top: 40px;
  line-height: $base-line-height;
  
}

.experience h4{
  font-size: 18px;
  font-weight: 600;
  line-height: $base-line-height;
}

.experience .educ1, .educ2, .educ3{
  margin-bottom: 50px;
  line-height: $base-line-height;
}

.sobre p {
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.experience li, p, h4, a{
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}



.titulopagproj {//titulos das paginas dentro de cada proj
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}

.page-link img{
  width: 100%;
}

.cometas img {
  width: 100%;
}

.tituloproj {//titulos de cada projeto
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 20px;
  color: $brand-color;
}

.page-heading{ //titulos da home
  font-size: 55px;
  font-weight: 800;
}

.post-title { //titulos do layout page
  font-size: 55px;
  font-weight: 800;
  line-height: $base-line-height;
}

.descricaoproj {
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: $base-line-height;
  margin-bottom: 60px;
}

//contacto
.contacto {
  font-family: 'Poppins', sans-serif;
  
  //font-family: 'Lato', sans-serif;
}

.contacto h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 40px;
}

.icons {
  list-style-type:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
}

.info {
  list-style-type:none;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconsinfo {
  margin-top: 50px;
  display: flex;
  font-size: 14px;
}

.icons img {
  width: 24px;
  
}
.formulario {
  margin-top: 40px;
  padding-bottom: 0%;
  
}

.input1, .input2, .input3 {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  color: $brand-color;
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.input3 {
  height:80px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
 // font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
 // font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}



form label {
  color: $brand-color;
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.formulario input {
  margin-bottom: 10px;
}


.botao{
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid $brand-color;
  background-color: $brand-color;
  border: none;
  border-radius: 10px;
  color: $background-color;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.botao:hover {
  background: #000000;
}

//fim contacto


//projeto 1

.projeto1 {
  //font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  color:rgb(54, 52, 52);
}

.projeto1 p, .projeto2 p, .projeto3 p, .projeto4 p, .projeto5 p, .projeto6 p, .projeto7 p, .projeto8 p {
  margin-top: 40px;
  margin-bottom: 40px;
}

.img1proj1 {
  margin-top: 40px;
  width: 100vw;
}

.projeto1 img{
  width: 100vw;
}

.cartazes img{
  margin-bottom: 20px;
}

.video1 {
  width: 100%;
  margin-top: 20px;
  height: auto;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

//fim do projeto 1

.projeto5 img{
  margin-bottom: 20px;
}






// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

@media screen and (min-width: $on-palm) { //para maior q 600px ---------------------------
  
  .site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
    position: fixed;
 
  }

  .site-title {
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-left: 5%;

    &,
    &:visited {
      color: $grey-color-dark;
    }
  }

  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
      display: none;
    }

    .page-link {
      color: $text-color;
      line-height: $base-line-height;

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .introuis {
    font-size: 115px;
  }


  //contacto
  
 
  .botao{
    font-size: 16px;
    margin-top: 20px;
  }

  .input1, .input2, .input3 {
    width: 50%;
  }
  
  .input3 {
    height:80px;
  }
}


@media screen and (min-width: 800px) {//para maior q 800px --------------
  .site-title {
    margin-left: 5%;
  }

  //proj 1
  
  .projeto1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin:0;
  }

  .projeto1 p {
    display: inline;
    margin: 15px;
  }
  .imga1 img {
    width: 24%;
    padding: 0;
    margin:0;
  }
  
  .cartazes img{
    width: 49%;
  }

  .apresen img {
    flex-wrap: wrap;
    justify-content: center;
    width: 49%;
    padding: 0;
    margin: 0;
  }
  //fim proj1
  

    
  .projeto2 img{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .coimbra img{
    width: 49%;
  }
  

  .projeto5 img {
    width: 100%;
  }

  .projeto8 img {
    width: 100%;
  }



}

@media screen and (min-width: 1000px) {//para maior q 1000px --------------
  .sobresec {
    margin: auto;
    width: 100%;
    
  }
  .sobre img, .contacto img  {
    width: 100%;
  }
  
  .todosproj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .todosproj > div{
      width: 50%;
      padding: 0 10px 10px 0;
      box-sizing: border-box;
  }
  .todosproj > div  img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  //proj 1

  .projeto1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin:0;
  }

  .projeto1 p {
    display: inline;
  }
  .imga1 img {
    width: 24%;
    padding: 0;
    margin:0;
  }
  
  .cartazes {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .cartazes img{
    width: 32%;
  }

  .video1 {
    padding: 40px 40px;
  }

  .apresen {
    margin-top: 40px;
  }
  .apresen img {
    flex-wrap: wrap;
    justify-content: center;
    width: 49%;
  }
}











@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
